<div class="col-6">
  <h1>@user.username</h1>

  <div>
    <strong>Manager:</strong>
    <%= @user.manager %>
  </div>

  <div>
    <strong>You manage:</strong>
    <ul>
      <%= for employee -> @user.manages do %>
        <li>
          employee
        </li>
      <% end %>
    </ul>
  </div>
  <span><%= link "Back", to: Routes.task_path(@conn, :index) %></span>
</div>
